<select name="data.data.type" id="data.data.type">
    {{#select data.data.type}}
    <option value="rival">Rival</option>
    <option value="patron">Patron</option>
    <option value="opportunity">Opportunity</option>
    <option value="quest">Quest</option>
    {{/select}}
</select>