<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name">Attacking With {{weapon}} ({{shots}} shot{{#if (gt shots 1)}}s{{/if}})</h1>
    </header>

 <div class="fp roll-dialog">
    
     <div class="form-group">
         <table>
             <tr>
                 <th>Extra D6 to Roll</th>
                 <td><input id="extraDice" type="text" value="0" data-dtype="Number"/></td>
             </tr>
             <tr>
                 <th>{{localize "FP.gameterm.bonuses"}}</th>
                 <td>
                    <input id="bonus" type="text" value="0" data-dtype="Number"/>
                 </td>
            </tr><tr>
                <th>{{localize "FP.gameterm.penalties"}}</th>
                 <td>
                     <input id="penalty" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
             <tr>
         </table>         
     </div>
 </div>


</form>