<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name">Crew Size</h1>
    </header>

 <div class="fp roll-dialog">
    
     <div class="form-group">
         <table>
             <tr>
                 <th>Crew size for this Battle</th>
                 <td>
                    <input id="crewsize" type="text" value="5" data-dtype="Number"/>
                 </td>
            </tr>
         </table>         
     </div>
 </div>


</form>