<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name dialog-header">{{localize "FP.ui.rolldialog.crewsize"}}</h1>
    </header>

 <div class="fp roll-dialog">
    
     <div class="form-group">
         <table class="fp dialog-roster">
             <tr>
                 <th>{{localize "FP.ui.rolldialog.crewsize_ext"}}</th>
                 <td>
                    <input id="crewsize" type="text" value="5" data-dtype="Number"/>
                 </td>
            </tr>
         </table>         
     </div>
 </div>


</form>