<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name">Upkeep</h1>
    </header>

 <div class="fp roll-dialog">
    {{log "data passed for upkeep: " data}}
     <div class="form-group">
         
         <table class="fp crew-roster">
             <tr>
                 <th>Current Credit Balance</th>
                 <td>{{credits}}</td>
             </tr>
             <tr>
                 <th>Crew Payroll Amount</th>
                 <td>
                    <input class="fp value-input" id="crew-pay" type="text" value="0" data-dtype="Number"/>
                 </td>
            </tr>
            <tr>
                <th>Debt Payment Amount</th>
                 <td>
                     <input class="fp value-input" id="debt-pay" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
             <tr>
                <th>Repair Payment Amount</th>
                 <td>
                     <input class="fp value-input" id="repair-pay" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
             <tr>
                <th>Medical Care Payment Amount</th>
                 <td>
                     <input class="fp value-input" id="med-pay" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
            
         </table>         
     </div>
 </div>


</form>