<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <a title="Randomly Generate" class="gen-world"><img class="dice-img" src="systems/fiveparsecs/assets/dwhatever.png" height="32" width="32" style="border:0"/></a>
    </header>
    <section class="sheetbody">
      
        <div class="fp flexcol">
            <table class="fp item-roster">
                <tr>
                    <th class="fp sheet-label">Battle Type</th>
                    <td>{{> 'systems/fiveparsecs/templates/partials/battle/battletypeselect.hbs'}}</td>
                </tr>
            </table>
        </div>
    
    </section>
</form>