/* CSS, my old enemy. We meet again. */

/* 
CSS Colors from FP Book

Character Table Header: ec6260
Character Table Odd Row: fdeeeb
Character Table Even Row:f9cbc2
border - e72d41

Blues:
header:7dc8e6
odd: f1f9fd
even: d5ebf7
border - 44b9de

Greens
table background - #eff6f0
header background - #61b07c
even row - #cee2cf
border - #039e5d
*/

/* table tr:nth-child(even) {
    background:none !important;
} */

.center {
    text-align:center;
}


.fp .window-content {
    background:white;
}
.fp .value-input {
    width:4ch;
    text-align:center;
    background:white;
    align-self:center;
}

.fp .text-input {
    width:100%;
    text-align:left;
    background:white;
}

.fp .item-table {
    /* border: 1px solid blue;  */
    border-spacing:6px; 
    border-collapse:separate;
    background:none;
}

.fp .item-table td {
    padding: 6px;
    text-align:center;
}

.fp .charsheet-weapons {
    border-collapse:collapse;
}

.fp .crewsheet-stats {
    background:none;
    border-top:0;
    border-bottom:0;
}

/* Enemy Sheet Tables */
.fp .enemy-roster {
    border-collapse:collapse;
    padding:0 12px 12px 12px;
    background:#fdeeeb;
    border:0;
    /* border:1px solid rgb(218, 55, 68); */
}

.fp .enemy-roster th {
    background-color:#ec6260;
    border:1px solid #e72d41;
    color:white;
}

.fp .enemy-roster td {
    border:1px solid #e72d41;
}

.fp .enemy-roster tr:nth-child(odd) {
    background:#f9cbc2;
}

/* Crew Sheet Table */

.fp .crew-roster {
    border-collapse:collapse;
    padding:0 12px 12px 12px;
    background:#f1f9fd;
}

.fp .crew-roster th {
    background-color:#7dc8e6;
    border:1px solid #44b9de;
    color:white;
}

.fp .crew-roster td {
    border:1px solid #44b9de;
}

.fp .crew-roster tr:nth-child(odd) {
    background:#c0e4f8;
}

/* Item Sheet Table Styling */
/*
Greens
table background - #eff6f0
header background - #61b07c
even row - #cee2cf
border - #039e5d
*/

.fp .item-roster {
    border-collapse:collapse;
    padding:0 12px 12px 12px;
    background:#eff6f0;
}

.fp .item-roster th {
    background-color:#61b07c;
    border:1px solid #039e5d;
    color:white;
}

.fp .item-roster td {
    border:1px solid #039e5d;
}

.fp .item-roster tr:nth-child(odd){
    background:#cee2cf;
}





/* End Item Sheet Table Styling */

.fp .sheet-label {
    text-transform:uppercase;
    font-size:0.75em;
    font-weight:bold;
    text-align:left;
}

.fp .sheet-label-center {
    text-transform:uppercase;
    font-size:0.75em;
    font-weight:bold;
    text-align:center;
}

.fp .flexcol {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
  
  }
  .fp .flexrow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.fp .flex-item {
    background: white;
    height:auto;
    flex:1;
    align-items:center;
    margin:3px 6px 3px 3px;

}

.fp .dice-d6 {
    background-image:url("../assets/d6s.png");
    height:32px;
    width:32px;
    background-repeat:no-repeat;
}

.fp .dice-icon {
    margin-right:12px;
    width:32px;
    height:32px;
    max-width:32px;
}

.dice-img {
    border-radius:6px;
}