<div class="fp flexcol" style="padding:3px; margin-right:12px;">
    {{> "systems/fiveparsecs/templates/partials/campaign/flee_invasion.hbs"}}
    <hr>
    {{> "systems/fiveparsecs/templates/partials/campaign/travel.hbs"}}
    <hr>
    {{> "systems/fiveparsecs/templates/partials/campaign/arrival.hbs"}}
    <hr>
        <!--div class="fp flexrow">
        <div class="fp flex-item">
            <h3>Fleeing Invasion?</h3> <input type="checkbox" name="data.data.flee_invasion" {{#if data.data.flee_invasion}}checked{{/if}}/>
        </div>
    </div-->   
</div>