{{log "data for crewtask partial: " data}}
<tr>
    <td class="fp sheet-label">
        Crew Tasks
    </td>
    <td>
        <a class="ct-step" data-ct-phase="crew_tasks" data-ct-action="handle-crew-tasks" title="Find Patron"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/three-friends.png" height="32" width="32" style="border:0"/></a>
    </td>
    <td>
        {{data.campaign_turn.crew_tasks.crew_task_text}}
    </td>
</tr>