{{log "data for crewtask partial: " data}}
<tr>
    <td class="fp sheet-label">
        {{localize 'FP.campaign_turn.crew_tasks.entity'}}<br/>
        <a class="ct-step" data-ct-phase="crew_tasks" data-ct-action="handle-crew-tasks" title="{{localize 'FP.campaign_turn.crew_tasks.action'}}"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/three-friends.png" height="32" width="32" style="border:0"/></a>
    </td>
    <td class="hw">
        {{{data.campaign_turn.crew_tasks.ct_final_result}}}<br/>
    </td>
</tr>