<div class="fp flexrow">
<div class="fp flex-item" style="padding:3px; margin-right:12px;">
    <p><span class="fp-labels">Flee Invasion</span></p>
</div>
<div class="fp flex-item" style="padding:3px; margin-right:12px;">
    <input type="checkbox" name="data.data.flee_invasion" {{#if data.data.flee_invasion}}checked{{/if}}> Completed?
</div>
</div>