<tr>
    <td class="fp sheet-label">
      Patron Jobs
    </td>
    <td>
        <a class="ct-step" data-ct-phase="jobs" data-ct-action="gen-pat-job" title="Generate Patron Job"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/shaking-hands.png" height="32" width="32" style="border:0"/> Generate Patron Job</a><br/>
    </td>
    <td class="hw">
          Patron jobs appear here.
    </td>
</tr>
