<select name="data.patron_type" id="data.patron_type">
    {{#select data.patron_type}}
    <option value="Corporation">Corporation</option>
    <option value="Local Government">Local Government</option>
    <option value="Sector Government">Sector Government</option>
    <option value="Private Organization">Private Organization</option>
    <option value="Wealthy Individual">Wealth Individual</option>
    <option value="Secretive Group">Secretive Group</option>
    {{/select}}
</select>