<tr>
    <td class="fp sheet-label">
      Post-Battle
    </td>
    <td>
        <a class="ct-step" data-ct-phase="post" data-ct-action="Rival" title="Post Battle Wrap-Up"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/>
    </td>
    <td>
        Post battle info here
    </td>
</tr>
