<tr>
    <td class="fp sheet-label">
        Upkeep
    </td>
    <td>
        <a class="ct-step" data-ct-action="pay-crew" title="Pay Crew"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/receive-money.png" height="32" width="32" style="border:0"/> Pay Crew</a><br/>
        <a class="ct-step" data-ct-action="pay-debt" title="Pay Ship Debt"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/pay-money.png" height="32" width="32" style="border:0"/> Pay Debt</a><br/>
        <a class="ct-step" data-ct-action="repair-ship" title="Repair Ship"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/auto-repair.png" height="32" width="32" style="border:0"/> Repair Ship</a><br/>
        <a class="ct-step" data-ct-action="heal-crew" title="Medical Care"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/caduceus.png" height="32" width="32" style="border:0"/> Medical Care</a><br/>
    </td>
    <td>
       
    </td>

</tr>